<h2	class="page-header">Добро пожаловать!</h2>
<p>Данный ресурс разрабатывается с целью стать незаменимым помощником в изучении новых и вспоминании старых слов. </br></br>
Среди возможностей будет составление личного словаря и несколько режимов изучения!</br></br>
Программа в стадии доработки, а тем временем Вы можете узнать много нового на странице <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BB%D1%83%D0%B6%D0%B5%D0%B1%D0%BD%D0%B0%D1%8F:%D0%A1%D0%BB%D1%83%D1%87%D0%B0%D0%B9%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0" target="_blank">со случайной статьёй;)</a></p>

