<div class="panel panel-default">
 <div class="panel-heading" style="text-align: center; font-weight: bold; font-size: large">{{word}}</div>
 <div class="panel-body" style="height: 250px"><i class="panel-body" style="font-weight: bolder">{{origin}}</i><br>{{desc}}</div>
 <!--<div class="panel-footer"> 

 </div> -->
 </div>
 	<div class="row">
  		<a href="#"><div class="col-lg-4"></div></a>
 		<a href="#"><div class="col-lg-4"></div></a>
 		<a href="/wit/random"><div style="text-align: center;" class="col-lg-4">Хочу еще!</div></a>
 	</div>